[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohankota
[access "refs/for/refs/*"]
	read = group user/mohankota
	push = group user/mohankota
	label-Code-Review = -2..+2 group user/mohankota
	label-Verified = -1..+1 group user/mohankota
	rebase = group user/mohankota
	removeReviewer = group user/mohankota
	submit = group user/mohankota
[access "refs/heads/*"]
	read = group user/mohankota
	create = group user/mohankota
	push = +force group user/mohankota
	pushMerge = group user/mohankota
[access "refs/tags/*"]
	push = group user/mohankota
	push = +force group user/mohankota
